<div class = "text-center m-1">
<h2>{{MessageWelcome}}</h2>
</div>

<app-menu-main></app-menu-main>


<div class="container py-5">

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Opciones
  </a>
  
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" (click)="getData()" [routerLink]="['/doctor']">Ver todo</a></li>
    <li><a class="dropdown-item" (click)="eraseData(); ThereData=false" [routerLink]="['/doctor/add']">Añadir</a></li>
    <li><a class="dropdown-item" (click)="eraseData();ThereData=false">Modificar</a></li>
    
  </ul>
</div>

<div *ngIf="ThereData!; then thenBlock else elseBlock"></div>


<ng-template #elseBlock>
    <div class="cont-img">
      <img   [src] = 'showImg()' class="img-fluid">    
    </div>
  </ng-template>

<ng-template #thenBlock>



<mat-list>
    
  <mat-list-item class="h-auto" *ngFor="let element of infoDataAll">
    <mat-icon matListItemIcon (click)="eliminar(element)">delete</mat-icon>
    <mat-icon matListItemIcon>folder</mat-icon>
    <h3 matListItemTitle></h3>
    <p matListItemLine *ngFor="let item of key">
      
      <span>{{item}}</span>
      
      <span class="demo-2"> -- {{element[item]}}</span>
      
    </p>
  </mat-list-item>
  </mat-list>

</ng-template>
<router-outlet></router-outlet>



</div>




