#MessageError{
    color : white;
    background-color: red;
    
}

.containerMsgError{
    padding: 3px;
    border-radius: 2%;
    border-bottom: 1px solid yellow;
}


#msgExito{
    color : white;
    background-color: green;

}