<nav class="navbar navbar-expand-md navbar-dark bg-dark px-2">
    
    <a class="navbar-brand" href="#">
           
        Proyecto M4 HSBC</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/welcome">Inicio </a>
        </li>    
      </ul>
    </div>
    
    <div class="ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="https://www.github.com/Angel123Lara">Github </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/angel-jlarasz/">LinkedIn</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/login">Iniciar Sesión</a>
            </li> 
  
        </ul>
     </div>
    </div>
  </nav>
<router-outlet></router-outlet>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">     
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          MedicineInYourHands es un proyecto que nace en el curso de "Enginnering Development"
          de HSBC en colaboración con BEDU, Su objetivo es brindar información de los servicios 
          de salud, y que el usuario final pueda conocer más sobre su servicio de saluda al que se encuentra afiliado 
          o le ayude a tomar la decisión de que servicio de salud le conviene más.
        </p>
      </section>

  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright: Angel Lara
      
    </div>
    <!-- Copyright -->
    </div>
  </footer>
  <!-- Footer -->



