<!-- <div>
<button [routerLink]="['/welcome']">Home</button>
<button [routerLink]="['/doctor']">doctors</button>
<button [routerLink]="['/hospital']">Hospital</button>
<button [routerLink]="['/speciality']">Speciality</button>
</div> -->

<!-- <mat-tab-group>
    <mat-tab label="Doctors" active="['/doctor']"> Doctors </mat-tab>
    <mat-tab label="Home" active="['/welcome']"> Home</mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->

  
  <nav mat-tab-nav-bar ngClass="tabs" >
    
    <a mat-tab-link [routerLink]="['/doctor']">
        Doctores
    </a>
    <a mat-tab-link [routerLink]="['/hospital']">
        Hospitales
    </a>
    <a mat-tab-link [routerLink]="['/speciality']">
        Especialidades
    </a>
  </nav>
