<div class = "text-center m-1">
    <h2>{{MessageWelcome}}</h2>
</div>
<app-menu-main></app-menu-main>


<div class="container py-5">
    
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Opciones
    </a>
    
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="getData()" [routerLink]="['/hospital']">Ver todo</a></li>
      <li><a class="dropdown-item" (click)="eraseData()">Buscar</a></li>
      <li><a class="dropdown-item" (click)="eraseData(); ThereData=false" [routerLink]="['/hospital/add']">Añadir</a></li>
      <li><a class="dropdown-item" (click)="eraseData();ThereData=false">Modificar</a></li>
      <li><a class="dropdown-item" (click)="eraseData(); ThereData=false" [routerLink]="['/hospital']">Eliminar</a></li>
      <li><a class="dropdown-item" >Something else here</a></li>
    </ul>
  </div>
  
  
  
  
  
  
  <div *ngIf="ThereData!; then thenBlock else elseBlock"></div>
    <ng-template #elseBlock>
      <div class="cont-img">
        <img   [src] = 'showImg()' class="img-fluid">    
      </div>
      </ng-template>
    
    <ng-template #thenBlock>
    
    <mat-list>

      <mat-list-item class="h-auto" *ngFor="let element of infoDataAll">
        
        <mat-icon matListItemIcon (click)="eliminar(element)">delete</mat-icon>
        <mat-icon matListItemIcon>folder</mat-icon>
        <h3 matListItemTitle></h3>
        <p matListItemLine *ngFor="let item of key">
          
          <span>{{item}}</span>
          
          <span class="demo-2"> -- {{element[item]}}</span>
          
        </p>
      </mat-list-item>
        <!-- <mat-list-item class="h-auto" *ngFor="let element of infoDataAll">
          <mat-icon matListItemIcon>folder</mat-icon>
          <h3 matListItemTitle>{{element.name}}</h3>
          <p matListItemLine>
            <span>Dirección</span>
            -- {{element.address}} <br>
          
           <span>Telefono</span>
            -- {{element.phone}} <br>
          </p>
        </mat-list-item> -->
      </mat-list>
    </ng-template>
    <router-outlet></router-outlet>
    </div>

<!-- <button (click)='getData()'>Visualizar Todo</button>
<div class="cont-img">
    <img   [src] = 'showImg()' class="img-fluid">    
  </div>
<ul *ngFor= "let element of infoDataAll">
    <li>{{"Hospital" + element.id}}
        <ul>
            Name
            <li>
            {{element.name}}
            </li>
        </ul>
        <ul>
            Adress
            <li>
            {{element.address}}
            </li>
        </ul>
        <ul>
            Phone
            <li>
            {{element.phone}}
            </li>
            
        </ul>
    </li>

</ul> -->